<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Headers - 6</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/reset.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/header-6.css" />
  </head>
  <body>
    <div class="header_1">
      <h4 id="header_1">BookHome - следите за новостями ваших библиотек</h4>
    </div>
    <!-- Header Start -->
    <header class="site-header">
      <div class="site-header__bottom">
        <div class="wrapper site-header__wrapper bottom">
          <a href="/index" class="brand">HomeBook</a>
          <a href="#" class="button" id="polka">Полка</a>
          <a href="/login" class="button">Войти</a>
        </div>
      </div>
      <div class="site-header__top">
        <div class="wrapper site-header__wrapper top">
          <nav class="nav">
            <button class="nav__toggle" aria-expanded="false" type="button">
              menu
            </button>
            <ul class="nav__wrapper">
              <li class="nav__item" id="left"><a href="#">Каталог</a></li>
              <li class="nav__item"><a href="#">Новинки</a></li>
              <li class="nav__item"><a href="#">Мероприятия</a></li>
              <li class="nav__item"><a href="#">Сообщество</a></li>
              <li class="nav__item"><a href="#">О нас</a></li>
            </ul>
          </nav>
          <!-- <a href="#">Sign in</a> -->
        </div>
      </div>
    </header>
    <!-- Header End -->
    <hr color="#2f4b79" size="4px">
    {% block content %}{% endblock %}
    
    <script src="js/header-6.js"></script>
  </body>
</html>
